spring:
  devtools:
    livereload:
      enabled: true
  data:
    web:
      pageable:
        default-page-size: 20
        max-page-size: 2000
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 0B
      max-file-size: 1MB
      max-request-size: 10MB
#  jackson:
#    property-naming-strategy: CAMEL_CASE_TO_LOWER_CASE_WITH_UNDERSCORES